<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/pages.css">
    <script src="/scripts/pages.js" defer></script>
    <script src="/scripts/profile.js" defer></script>
    <title>APT Trang cá nhân</title>
</head>
<body>
    <div id="page-loader">
        <img src="/images/page-loader.gif" alt="">
        <p>Đang tải...</p>
    </div>
    <div id="top" style="position: absolute; top: 0;"></div>
    <div class="left-side">
        <a href="#top"><img src="/images/APT-logo.png" alt="" class="left-side__main-logo"></a>
        <div class="left-side__menu" onclick="location.href='/home'">
            <div class="menu__item">
                <i class="fa-regular fa-house"></i>
                <p>Trang chủ</p>
            </div>
            <div class="menu__item --selected">
                <i class="fa-regular fa-user"></i>
                <p>Trang cá nhân</p>
                
            </div>
        </div>
    </div>
    <div class="search-container">
        <div class="search__search-bar">
            <i class="search-bar__icon fa-regular fa-magnifying-glass"></i>
            <input class="search-bar__input" type="search" placeholder="Tên đăng nhập">
        </div>
        <div class="search__result"></div>
    </div>
    <div class="profile">
        <div class="profile__head">
            <div class="head__full-name"><%= user.fullName %></div>
            <div class="head__username">(<%= user.username %>)</div>
        </div>
    </div>
    <div class="feed --profile-feed">
        <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <div class="feed__post" post-id="<%= posts[i]._id %>" post-noLike="<%= posts[i].noLike %>" >
                <div class="post__head">
                    <div class="head__auth-name"><%= user.username %></div>
                </div>
                <div class="post__time"><%= posts[i].time %></div>
                <img class="post__photo" src="<%= posts[i].photoUrl %>" alt="">
                <i class="<%= currentUser.postsLiked.includes(posts[i]._id)?'fa-solid':'fa-regular' %> fa-heart post__react" onclick="likePost(this)"></i>
                <p class="post__no-like"><%= posts[i].noLike %> lượt thích</p>
                <div class="post__content"><%= posts[i].content %></div>
            </div>
        <% } %>
    </div>
</body>
</html>